/* Basic Reset */
body {
    background-image: url('background-icon.jpg');
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repetition */
}

body, h1, h2, h3, p {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    /* background:aliceblue; */
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #3466a7;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    text-decoration: underline;
}

header h1 {
    margin-bottom: 10;
    
}

nav ul {
    list-style:circle;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
    /* background-color:linear-gradient(white,blue); */
}

.service {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display:flex;
}

.service:last-child {
    border-bottom: none;
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
